.section-header {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .section-header:hover {
    background-color: #d1e7dd; 
    transform: scale(1.05); 
  }
  
  h4 {
    padding: 10px;
  }
  
  .HELLO{
    color: blue;
    border: 1px solid blue; 
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
  
  }
  
  .HELLO:hover{
    background: rgb(1, 83, 165);
    color: white;
    transition: 0.6s;
  }
  
  
  .toggle-header {
    cursor: pointer;
    background-color: #f8f9fa;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: background-color 0.2s;
  }
  
  .toggle-header:hover {
    background-color: #e9ecef;
  }
  
  .toggle-content {
    padding: 15px;
  }
  
  .hover-section:hover {
    background-color: #e9ecef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  
  .bg-purple {
  background-color: purple !important;
  }
  
  .text-white {
  color: white !important;
  }
  
  .input-white {
  background-color: white;
  color: black;
  }
  .hhh{
  text-align: end;
  }
  
  .fade-in {
    animation: fadeIn 2s ease-in forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  
  
  .timeline-icon {
    display: flex;
    align-items: center;
  }
  
  .timeline-icon .dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #d4d4d4;
    position: relative;
  }
  
  .timeline-icon .dot::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    display: block;
  }
  
  .dot-active {
    background-color: #28a745;
  }
  
  .dot-inactive {
    background-color: #d4d4d4;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  
  .small-title {
    font-size: 1rem; 
    font-weight: 500; 
  }
  
  